@font-face {
  font-family: "方正字迹-吕建德行楷繁体";
  src: url("./方正字迹-吕建德行楷繁体.ttf");
}
@font-face {
  font-family: "Aa元气满满";
  src: url("./Aa元气满满.ttf");
}
@font-face {
  font-family: "包图小白体";
  src: url("./包图小白体.ttf");
}
@font-face {
  font-family: "字心坊初恋物语";
  src: url("./字心坊初恋物语.ttf");
}
@font-face {
  font-family: "字心坊猫的天空之城";
  src: url("./字心坊猫的天空之城.ttf");
}
@font-face {
  font-family: "电影海报字体";
  src: url("./电影海报字体.ttf");
}
@font-face {
  font-family: "百变马丁";
  src: url("./百变马丁.ttf");
}
@font-face {
  font-family: "迟暮朝朝醉晚灯";
  src: url("./迟暮朝朝醉晚灯.ttf");
}
@font-face {
  font-family: "风歌忘忧";
  src: url("./风歌忘忧.ttf");
}

@font-face {
  font-family: "默陌山魂手迹";
  src: url("./默陌山魂手迹.ttf");
}

@font-face {
  font-family: "YaKuHan";
  src: url("./YakuHanJPs-Light.woff2");
}
